<header id="nombre"><center><h1>Administrador</h1></center>
    <button class="btn btn-primary" id="logout" type="button" onclick="salir()">Salir</button>
</header>
<body id="fondo" name="fondo">
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <main id="mainAdmin1" class="card" >
                
                <div id="seleccionarCategoria" method="POST">
                    <h3>Borrar Categorias</h3>
                        <div id="seleccion">
                            <select name="select" id="elegirCategoria">
                                <option value="value1" selected> Categorias </option>
                                <option value="value2"> </option>
                            </select>
                        </div>
                    <div>
                        <input type="submit" class="btn btn-primary" id = "botonEliminar" value="Eliminar" onclick="borrarCategoria()">
                    </div>
                            
                    <br>
                    <br>

                </div>
                
            </main>
        </div>
        <div class="col-sm-6">
            <main id="mainAdmin2" class="card" >
                
                    
                    <div id="elegirpalabra" method="POST">
                        <h3>Usuarios y Puntos</h3>
                            <div id="seleccionUsuario">
                                <select name="select" id="elegirCategoria">
                                    <option value="value1" selected> Elegir Usuario</option>
                                    <option value="value2"> </option>
                                </select>
                            </div>
                        <div>
                            <input type="submit" class="btn btn-primary" id = "botonEliminar" value="Eliminar" onclick="borrarUsuario()">
                        </div>

                        <br>
                        <div>
                            <input type="submit" class="btn btn-primary" id = "botonEliminarPuntaje" value="Eliminar Puntaje" onclick="borrarPuntaje()">
                        </div>
            </main>
        </div>
    </div>
     
</body>

<script>
    API()
    mostrar()
</script>