<header>
  <hr>
  <center><img src="./ph/LOGO.png"></center>
</header> 
<br>
<br>
<body id="fondo" name="fondo">
    <center>
    <div class="card" id="cardLogin" style="width: 28rem; float:center; display:block" >
        <div class="card-body">
          <h5 class="card-title">Categorias  Predeterminadas:</h5>
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Comidas</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Lugares del mundo</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Animal</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Color</label>
          </div>
          
        </div>
        
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Objeto</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Instrumentos</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Pelicula</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Famosos</label>
          </div>
          <br>
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Deportes</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Nombre</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Ropa</label>
            <input type="radio" class="btn-check" name="btnradio" id="alo" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Trabajo</label>
          </div>
        <div>
            <h6>Sumar una categoría</h6>
            <input type="input" name="addCategories" placeholder="Ingrese una categoría" id = "inputCategory" />
            <button class="btn btn-primary" type="button" onclick="addCategory()">Agregar</button>
        </div>  
    </div>
    
    </center>
    <div class="container-md" id="contenedorCategorias">
    </div>
</body>

<script>
    traerCategorias()
    API()
</script>