<div class="mb-3 form-check" div="admin">
    <button class="btn btn-primary" id="logOut2" type="button" onclick="salir()">Salir</button>
    <header><center><h1 id="nombre">BASTA ONLINE</h1></center></header>
</div> 
<br>
<br>
<body id="fondo" name="fondo">
  
  
</body>