
<div class="mb-3 form-check" div="admin">
    <button class="btn btn-primary" id="logOut" type="button" onclick="salir()">Salir</button>
    <header><center><h1 id="nombre">BASTA ONLINE</h1></center></header>
</div> 
<br>
<br>
<body id="fondo" name="fondo">
    <div class="card" id="cardJuego">
        <div class="card-body">
            <center>
                <div id="juegoCSS">
                    <aside>
                    <div style="padding-right: 120px" class="contenedor">
                        <h5 id="ronda">Acá va la ronda</h5>
                    </div>
                
                <div class="contenedor">
                    <h5 id="letraRandom"> </h5>
                </div></aside></center>
                <div id="juego"class="mb-3 form-group">
                    <label id="prueba"></label>
                </div>
                </div>
                    <div class="mb-3 form-check" div="admin">
                        <center><button class="btn btn-primary" id="stop" type="submit" onclick="basta()">BASTA</button></center>
                    </div> 
        </div> 
    </div>       
</body>

<script>
    ejemplo()
    API()
    palabra_elegida()
</script>