<div class="mb-3 form-check" div="admin">
    <button class="btn btn-primary" id="logOut2" type="button" onclick="salir()">Salir</button>
    <header><center><h1 id="nombre">BASTA ONLINE</h1></center></header>
</div> 
<br>
<br>
<body id="fondo" name="fondo">
    <div class="contenedor">
        <p>Acá va la ronda</p>
    </div>
    <div class="contenedor">
        <p>Acá va la letra</p>
    </div>
    <div id="juego"class="mb-3 form-group">
    </div>
</body>