<!-- login.handlebars -->
<header>
  <hr>
  <center><img src="./ph/LOGO.png"></center>
</header>  
<hr>
<body id="fondo" name="fondo">

  

    <center>
      <div class="card" id="cardLogin" style="width: 28rem; float:center; display:block" >
        <div class="card-body">
          <form action="/ingreso" method="post" id="loguearse">
          <h5 class="card-title">Ingresar</h5>
          <div class="mb-3 form-group">
            <input type="email" name="email" placeholder="Correo electrónico" id="usuarioId" required />
          </div>
          <div class="mb-3 form-group">

            <input type="password" name="password" placeholder="Contraseña" id= "passwordId" required />
          </div>
          <button class="btn btn-primary" type="button" onclick="login()">Iniciar sesión</button>
          <br></form>
          <h7 class="card-title">¿No tienes una cuenta? Registrate!</h7>
          <br>
          <form action="/registrarse" method="GET" class="container-sm">
             <center><div classs="mb-3 form-check">
             <input type="submit" class="btn btn-primary" id="botonRegistro" value="Crear Cuenta">
            </div> </center>
          </form>
        </div>
      </div>
    </center>  
  
  <br>

  <div>{{message}}</div>
  <form action="/Admin" method="POST" id = "administrador" class="container-sm">
  </form>
</body>

<script>
  API()
</script>