<!-- login.handlebars -->
<header>
  <h1 id="login">Iniciar sesi칩n</h1>
</header>  
<body id="fondo" name="fondo">
  <form action="/login" method="post">
    <center>
      <div class="card" id="cardLogin" style="width: 28rem; float:center; display:block" >
        <div class="card-body">
          <h5 class="card-title">Ingresar</h5>
          <div class="mb-3 form-group">
            <input type="email" name="email" placeholder="Correo electr칩nico" required />
          </div>
          <div class="mb-3 form-group">
            <input type="password" name="password" placeholder="Contrase침a" required />
          </div>
          <button href="#" class="btn btn-primary" type="submit">Iniciar sesi칩n</button>
        </div>
      </div>
    </center>  
  </form>
  <div>{{message}}</div>
</body>

