<!-- login.handlebars -->
<header>
  <h1 id="login">Iniciar sesión</h1>
</header>  
<body id="fondo" name="fondo">
  <form action="/login" method="post">
    <center>
      <div class="card" id="cardLogin" style="width: 28rem; float:center; display:block" >
        <div class="card-body">
          <h5 class="card-title">Ingresar</h5>
          <div class="mb-3 form-group">
            <input type="email" name="email" placeholder="Correo electrónico" required />
          </div>
          <div class="mb-3 form-group">
            <input type="password" name="password" placeholder="Contraseña" required />
          </div>
          <button href="#" class="btn btn-primary" type="submit">Iniciar sesión</button>
        </div>
      </div>
    </center>  
  </form>
  <br>
  <center>
    <div class="card" id="cardLogin" style="width: 28rem; float:center; display:block" >
        <div class="card-body">
          <h7 class="card-title">¿No tienes una cuenta? Registrate!</h7>
            <form action="/registrarse" method="GET" class="container-sm">
              <div class="mb-3 form-check">
                <input type="submit" class="btn btn-primary" id="botonRegistro" value="Crear Cuenta">
              </div> 
            </form>
        </div>
    </div>
  </center>

  <div>{{message}}</div>
</body>