<!-- register.handlebars -->
<h1>Registro</h1>

<body id="fondo" name="fondo">
  <form action="/register" method="post">
    <center>
      <div class="card" id="cardLogin" style="width: 28rem; float:center; display:block" >
        <div class="card-body">
          <h5 class="card-title">registrarse</h5>
          <div class="mb-3 form-group">
            <input type="email" name="email" placeholder="Correo electrónico" id= "mail"required />
          </div>
          <div class="mb-3 form-group">
            <input type="Usuario" name="user" placeholder="Nombre de usuario" id= "usuarioId"required />
          </div>
          <div class="mb-3 form-group">
            <input type="password" name="password" placeholder="Contraseña" id="passwordId" required />
          </div>
          <button href="#" class="btn btn-primary" type="button" onclick="nuevoUsuario()">Registrate</button>
        </div>
      </div>
    </center>  
  </form>
  <br><center>
  </center>
  <div>{{message}}</div>
</body>