<div class="mb-3 form-check" div="admin">
    <button class="btn btn-primary" id="logOut2" type="button" onclick="salir()">Salir</button>
    <header><center><h1 id="nombre">BASTA ONLINE</h1></center></header>
</div> 
<br>
<br>
<body id="fondo" name="fondo">
  <center>
      <div class="card" id="cardLogin" style="width: 28rem; float:center; display:block" >
        <div class="card-body">
          <h5 class="card-title">Crear una Sala</h5>
          <div id="pedilo" class="mb-3 form-group">
            <button class="btn btn-primary" type="button" onclick="createRoom()">Crear</button>
          </div>
          <h5 class="card-title">Unirse a una Sala</h5>
        </div>
      </div>
    </center> 
</body>

<script>
  traerSalas()
</script>

<center>
    <div class="card" id="cardLogin" style="width: 28rem; float:center; display:block" >
        <div class="card-body">
          <h5 class="card-title">Categorias:</h5>
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Comidas</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Lugares del mundo</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Animal</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Color</label>
            <br>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Objeto</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Instrumentos musicales</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Pelicula</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1"></label>
          </div>
        </div>
        <div>
            <h6>Sumar una categoría</h6>
            <input type="input" name="addCategories" placeholder="Ingrese una categoría" id = "inputCategory" />
            <button class="btn btn-primary" type="button" onclick="addCategory()">Agregar</button>
        </div>  
    </div>
    
    </center>
    <div class="container-md" id="contenedorCategorias">
    </div>
</body>

<script>
    traerCategorias()
    API()
</script>