<header>
  <hr>
  <center><img src="./ph/LOGO.png"></center>
  <button class="btn btn-primary" id="logout" type="button" onclick="salir()">Salir</button>
</header> 
<br>
<br>
<body id="fondo" name="fondo">
  <center>
      <div class="card" id="cardLogin" style="width: 28rem; float:center; display:block" >
        <div class="card-body">
          <h5 class="card-title">Crear una Sala</h5>
          <div class="mb-3 form-group">
            <button class="btn btn-primary" id="pedilo" type="button" onclick="createRoom()">Crear</button>
          </div>
          <h5 class="card-title">Unirse a una Sala</h5>
        </div>
      </div>
    </center> 
</body>

<script>
  traerSalas()
  API()
</script>